.header {
    width: 100%;
    padding-left: 7px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.pagesInHeader {
    justify-content: flex-start;
}

.loginInHeader {
    margin-right: 5px;
}

.link {
    text-decoration: none;
    margin-right: 10px;
}

.link:hover {
    opacity: .5;
    cursor: pointer;
}

.loginLink:hover {
    opacity: 1;
    color: red;
}

.logoutButton {
    border: none;
    background: #79080a;
    color: white;
}

.logoutButton:hover {
    opacity: .5;
    cursor: pointer;
}