.flexedItems {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.savedItems {
    margin: auto;
    margin-bottom: 15px;
    width: 150px;
    box-shadow: -5px 5px 5px gray;
    padding: 7px;
    border-radius: 15px;
}

.side {
    margin: auto;
    flex-direction: column;
}