.addInputs {
    width: 200px;
    font-size: 18px;
    line-height: 20px;
    padding: 3px;
    padding-bottom: 2px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 2px;
}

.addCrap {
    border-radius: 10px;
    width: 50px;
    margin: auto;
    margin-top: 10px;
}

.addCrap:hover {
    box-shadow: -5px 5px 5px gray;
    transition: all .5s ease;
}

.inputs {
    display: flex;
    flex-direction: column;
}